.box {
    /* position: fixed; */
    overflow: scroll;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    /* display: flex;
    align-items: stretch;
    flex-direction: row; */
    top: 0px;
    width: 100%;
    height: 150px;
    border: 2px solid white;
}


.airBnbButton {
		width: 120px;
		height: 61px;
		/* padding: 5px 5px; */
        font-size: 20px;
        color: red;
		float: left;
		/* border: 1px solid #DCE0E0;
		border-top: none;
		border-bottom-color: transparent; */
    /* float: right;
    width: 27px;
    height: 19px;
    border: 2px solid red; */
}
.airBnbButton:hover{
    background-color: rgb(229, 207, 211);
    cursor: pointer;
}

.showBookings {
    width: 190px;
		height: 75px;
		/* padding: 5px 5px; */
        font-size: 20px;
        color: red;
		margin-left: 30%;
		/* border: 1px solid #DCE0E0;
		border-top: none;
		border-bottom-color: transparent; */
    /* display: inline-flex;
    flex-direction: row;
    width: 200px;
    height: 25px;
    border: 2px solid blue;
    align-content: center;
    justify-content: center;
    align-items: center;
} */
}
.showBookings:hover {
    /* background-color: #F5F5F5; */
    background-color: rgb(229, 207, 211);
    cursor: pointer;
}
.makeSpot {
    width: 200px;
		height: 75px;
		/* padding: 5px 5px; */
        font-size: 20px;
        color: red;
		margin-left: 30%;
		/* border: 1px solid #DCE0E0;
		border-top: none;
		border-bottom-color: transparent; */
    /* display: inline-flex;
    flex-direction: row;
    width: 200px;
    height: 25px;
    border: 2px solid blue;
    align-content: center;
    justify-content: center;
    align-items: center; */
}
.makeSpot:hover {
    background-color: rgb(229, 207, 211);
    cursor: pointer;
}

.profileButton {
   width:75px;
   color: red;

		/* border: 1px solid #DCE0E0;
		border-top: none;
		border-bottom-color: transparent; */
    /* overflow: scroll;
    background-color: grey;
    position: fixed;
    box-sizing: border-box;
    border: 10px solid black; */
}
/* .profileButton:hover {
    background-color: #F5F5F5;
    cursor: pointer;
} */

.profileButton:hover {
    background-color: rgb(229, 207, 211);
    cursor: pointer;
}

.logOutButton {
    color: black;
}

.logOutButton:hover {
    background-color: red;
    cursor: pointer;
}

.logInButton {
    margin-left: 70%;
    font-size: 25px;
}

.logInButton:hover {
    color: red;
    cursor: pointer;
}

.signUpButton {
    margin-left: 10px;
    font-size: 25px;
}

.signUpButton:hover {
    color: green;
    cursor: pointer;
}
